appname=MyApp
version=1.0.0
display_name=My App
desc=Describe the application.
source=thirdparty
platform=all
maintainer=Your Team
maintainer_url=https://example.com
os_min_version=1.2.0401
desktop_uidir=ui
desktop_applaunchname=MyApp.main
ctl_stop=true
checkport=false
micro_app=true
